{% extends 'base.html.twig' %}

{% block title %}Hello FirstController!
{% endblock %}
{% block styles %}

<link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
{% endblock %}
{% block body %}
<h1>Liste des todos </h1>
{% for message in app.session.flashBag.get('info') %}
    <div class="alert alert-info" role="alert">
   {{message}}
</div>
{% endfor %}
{% for message in app.session.flashBag.get('success') %}
    <div class="alert alert-success" role="alert">
   {{message}}
</div>
{% endfor %}
{% for message in app.session.flashBag.get('error') %}
    <div class="alert alert-danger" role="alert">
   {{message}}
</div>
{% endfor %}

	<ol class="list-group list-group-numbered">
		{% for name, content  in app.session.get('todos') %}
            
		<li class="list-group-item">
        {{name}} : {{content }}
         </li>
        {% endfor %}
		
	</ol>


{% endblock %}
