{% extends 'base.html.twig' %}

{% block title %}Hello FirstController!
{% endblock %}
{% block styles %}

<link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
{% endblock %}
{% block body %}
<h1 class="container my-3  text-bold text-uppercase text-center  bg-black text-white">Liste des todos </h1>

<div class="container mb-3 me-2 ">
<a class="me-2 text-decoration-none text-bg-dark bg-danger" href="{{path('todo.reset')}}">Reset de la liste </a>


<a href="{{path('todo.add')}} ">Ajouter une tâche </a>
</div>

{% for message in app.session.flashBag.get('info') %}
    <div class="alert alert-info" role="alert">
   {{message}}
</div>
{% endfor %}
{% for message in app.session.flashBag.get('success') %}
    <div class="alert alert-success" role="alert">
   {{message}}
</div>
{% endfor %}
{% for message in app.session.flashBag.get('error') %}
    <div class="alert alert-danger" role="alert">
   {{message}}
</div>
{% endfor %}
    <div class="container">
	<ol class="list-group list-group-numbered">
		{% for name, content  in app.session.get('todos') %}
            
		<li class="list-group-item">
        {{name}} : {{content }}
         </li>
        {% endfor %}
		
	</ol>
</div>

{% endblock %}
